*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
    
}


body{
    background-image: linear-gradient(to right, #00b4db, #00394d);
}


.container{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}


button{
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #119756;
    columns: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.cadastro{
    margin-bottom: 16px;
}

.cadastro label{
    display: block;
    font-weight: bold;
}

.cadastro input, textarea{
    width: 100%;
    display: block;
    padding: 8px;
}

.cadastro textarea{
    resize: none;
    height: 120px;
}

form {
    max-width: 360px;
}

form button{
    max-width: 120px;
}
.error{
    color: #ad0202;
}


